.container {
  width: 300px;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
}
button {
  margin-right: 30px;
  padding: 9px 39px;
  margin-top: 6px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgba(208, 215, 222, 0.7);
  color: #272343;
}
.all-add-btn {
  background-color: #e3f6f5;
  border: none;
}
.add-counter-btn {
  background-color: #ffd803;
  border: none;
}
