@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{ 
    --background:#fffffe;
    --main-area:#fffffe;
    --navbar:#fffffe;
    --welcome:#ebebeb;
    --navbar-font:#5f6368;
    --text-color: #0a0c16;
    --grid-text:#202124;
    --second-color:#1a73e8;
    --third-color:#9bcb61;
    --hover:#0c69e3;
    --border:#777c82;
}
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body{
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
}
header{
    margin-top: 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--navbar);
    padding: 0px 50px;
}
.logo{
    font-size: 1.3rem;
    text-align: left;
    text-decoration: none; 
    color:var(--navbar-font);
    font-weight: 400;
}
.logo:hover{
            color: var(--hover);
}
.navbar{
    list-style: none;
    display: flex;
     justify-content:flex-start;
}
.navbar a{
    text-decoration: none;
    padding: 0 30px;
    font-size: 0.85rem;
    color: var(--navbar-font);
}
.navbar a:hover{
    color: var(--text-color);
    text-decoration:underline;
    text-underline-offset:1em;
}
.menu-icon{
    display: none;
    font-size: 35px;
}
.bx-menu{
    position: absolute;
    top:9px;
    right:10px;
}
#banner{
    background-color: var(--second-color);
    color:var(--main-area);
    display: flex;
    align-items: center;
    justify-content:center;
    height: 63px;
}
#banner-text{
    font-size: 0.9rem;
}
#banner-text a{
    text-decoration: underline;
}
#welcome-section{
    background-image: url(img/mobile-testing-33.png);
    background-color: var(--welcome);
    background-size:contain;
    background-position:right bottom;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 450px;
    
}
 #describe {
    padding-top: 100px;
    margin-left: 50px;
    width: 40%;
    font-size: 3rem;
    color: var(--text-color);
    line-height: 1.2;
}
#describe h2{
    font-weight: 500;
    margin: 16px 0;
}
#describe p{
    display: block;
    font-size: 1.2rem;
    line-height: 1.3;
    margin-bottom: 10px;
}
.video-btn{
    background-color: var(--second-color);
    color: var(--main-area);
    border-radius: 100px;
    border: none;
    padding: 10px 24px;
    font-size: 1.2rem;
}
.video-btn:hover{
    background-color: var(--border);
    transition: background-color 0.2s ease-in;
}
#main-section{
    font-size: 2rem;
    min-height: 70vh;
    text-align: center;
    background-color: #ffffff;
}   
#main-title{
    color: var(--grid-text);
    padding: 40px;
}
.main-contentbox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    max-width: 1200px;
    margin: auto ;
    padding: 0 20px;
}
.main-icon{
    width: 60px;
}
#grid{
    border: 1px solid;
    border-color: rgb(203, 203, 202);
    border-radius: 20px;
    padding: 20px;
    background-color: #fffffe;
}
#grid h1{
    padding-bottom: 5px;
}
.main-text{
    font-size: 1rem;
}
.main-text:hover{
    text-decoration: underline;
    text-underline-offset:0.2rem;
    text-decoration-color:var(--second-color);
}
.view-more{
    display:flex;
    width: 190px;
    height: 36px;
    align-items:center;
    justify-content: center;
    margin:4rem auto; 
    padding:  0 20px;
    background-color:var(--second-color);
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fffffe;
}
.view-more:hover{
    background-color: var(--hover);
    transition: background-color 0.2s ease-in;
}
#footer{
    margin: 40px 40px;
}
#footer ul{
    list-style: none;
}
.footer-linkbox-nocontent{
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}
.footer-linkbox{
    list-style: none;
    padding: 25px 0;
}
.footer-linkbox-list{
    padding-left: 0; 
}
.footer-linkboxes-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.footer-linkbox-item,li, a {
    text-decoration: none;
    font-size: 0.9rem;
    padding-top: 1cqmax;
    color: var(--navbar-font);
}
.footer-linkbox-item :hover{
    color: var(--hover);
}
.footer-description-box{
    padding-top: 25px;
    
}
.footer-description{
    color: var(--navbar-font);
    font-size: 0.8rem; 
    padding: 0 10px;
}
.footer-link-btn{
    background-color: var(--second-color);
    color: var(--main-area);
    border-radius: 5px;
    border: none;
    padding: 10px 24px;
    font-size: 0.8rem;
}
/* media-query */
@media (min-width: 800px) and (max-width: 1199px){
    header{
        margin: 0 auto;
    }
    #welcome-section{
        min-height: 100vh;
        height: 450px;
        padding: 15px 0;
    }
    #main-section{
        min-height: 60vh;
    }
    #describe{
        width: 45%;
        font-size: 2rem;
        padding-top: 0;
    }
    #describe p{
        font-size: 1.3rem;
    }
}
@media (min-width: 500px) and (max-width: 799px){
    header{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar{
        display: none;
    }
    .menu-icon{
        display:block;
    }
    #welcome-section{
        background-size:55%;
        background-position: center bottom;
        text-align: center;
        min-height: 80vh;
    }
    #describe{
        padding: 20px;
        margin-left: 0;
        text-align: ce;
        font-size: 2rem;
        width: 95%;
        
    }
    #describe p{
        display: none;
        font-size: 1rem;
    }
}
@media (max-width:499px){
    header{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .main-contentbox{
        grid-template-columns: 1fr;
    }
    #welcome-section{
        background-size:66%;
        background-position: center bottom;
        text-align: center;
        min-height: 60vh;
    }
    #banner-text{
        font-size: 0.9rem;
        padding: 30px;
    }
    #describe{
        width:100%;
        margin-left: 0;
        font-size: 2rem;
        text-align: center;
        padding: 17px;
        font-weight: 400;
        line-height: 1.1;
    }
    #describe p{
        display: none;
    }
    .footer-description-box{
        font-size: 1rem;
        padding: 16px;
        text-align: left;
        
    }
    .footer-description{
        padding: 0;
    }
    .footer-link-btn{
        display: block;
        align-items: flex-end;
        justify-items: flex-end;
        text-align: center;
        width: 100px;
        padding: 10px 0;
    }
}